<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- <link rel="stylesheet" href="./css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" href="./css/all.css" /> -->
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/socket.js"></script>
    <script src="./js/all.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="container-full">
        <div class="gn-navbar">
          <div class="left-navbar">
            <a class="logo-image" href="#!"><div class="logo"></div></a>
            <ul class="gn-nav">
              <li class="gn-nav-items">
                <a href="" class="gn-nav-links">會員專區</a>
              </li>
              <li class="gn-nav-items">
                <a href="" class="gn-nav-links">遊戲中心</a>
              </li>
              <li class="gn-nav-items">
                <a href="" class="gn-nav-links">儲值專區</a>
              </li>
              <li class="gn-nav-items">
                <a href="" class="gn-nav-links">客服中心</a>
              </li>
              <li class="gn-nav-items">
                <a href="" class="gn-nav-links">序號兌換</a>
              </li>

              <li class="gn-nav-items">
                <a href="" class="gn-nav-links">線上商城</a>
              </li>
              <li class="gn-nav-items">
                <a href="" class="gn-nav-links">RO仙境傳說樂園</a>
              </li>
            </ul>
          </div>
          <div class="gn-register"><i class="fa-solid fa-user"></i>註冊</div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="jumbotron"></div>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
